@import "tailwindcss";

.filter-card:has(input:checked) {
  background-color: #2e333a;
}

#root {
  --highest-priority: lch(62.06% 68.65 28.34);
  --priority-light-change: calc((100 - 62) / 4);
  --priority-chroma-change: calc(67 / 4);
}

.priority-1 {
  color: lch(from var(--highest-priority) l c h);
}
.priority-2 {
  color: lch(
    from var(--highest-priority) calc(l + var(--priority-light-change))
      calc(c - var(--priority-chroma-change)) h
  );
}
.priority-3 {
  color: lch(
    from var(--highest-priority) calc(l + 2 * var(--priority-light-change))
      calc(c - 2 * var(--priority-chroma-change)) h
  );
}
.priority-4 {
  color: lch(
    from var(--highest-priority) calc(l + 3 * var(--priority-light-change))
      calc(c - 3 * var(--priority-chroma-change)) h
  );
}
.priority-5 {
  color: lch(
    from var(--highest-priority) calc(l + 4 * var(--priority-light-change))
      calc(c - 4 * var(--priority-chroma-change)) h
  );
}

.filter-card-label {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 535px) {
  .filter-controls {
    flex-wrap: wrap;
  }

  .filter-controls > button {
    width: 100%;
    margin-top: 0;
  }

  .filter-controls > input {
    margin: calc(var(--spacing) * 3);
    margin-top: 0;
  }
}

.btn-copy {
  min-width: 7em;
}

h1 > div.border {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(
    to right,
    rgba(180, 196, 40, 0.8),
    rgba(255, 255, 255, 0)
  );
  border-image-slice: 1;
  width: clamp(200px, 400px, 60%);
}
